<tr>
  <td class="contentMainTop" colspan="2" onclick="DZCP.toggle(1)" style="cursor:pointer" onmouseover="DZCP.showInfo('[smf_db_settings_info]');this.className='contentMainFirst'" onmouseout="DZCP.hideInfo();this.className='contentMainTop'">
    <table class="hperc" cellspacing="0">
      <tr>
        <td style="width:1%"><img id="img1" src="../inc/images/expand.gif" alt="" /></td>
        <td><span class="fontBold">[smf_db_settings]</span></td>
      </tr>
    </table>
  </td>
</tr>
<tr id="more1" style="display:none">
  <td>
    <table class="hperc" cellspacing="0">
      <tr>
        <td class="contentMainTop" width="200px"><span class="fontBold">[smf_db_host]:</span></td>
        <td class="contentMainFirst" align="center">
          <input type="text" name="db_host" value="[db_host]" class="inputField_dis"
          onfocus="this.className='inputField_en';"
          onblur="this.className='inputField_dis';" />
        </td>
      </tr>
      <tr>
        <td class="contentMainTop"><span class="fontBold">[smf_db_user]:</span></td>
        <td class="contentMainFirst" align="center">
          <input type="text" name="db_user" value="[db_user]" class="inputField_dis"
          onfocus="this.className='inputField_en';"
          onblur="this.className='inputField_dis';" />
        </td>
      </tr>
      <tr>
        <td class="contentMainTop"><span class="fontBold">[smf_db_passwd]:</span></td>
        <td class="contentMainFirst" align="center">
          <input type="text" name="db_passwd" value="[db_passwd]" class="inputField_dis"
          onfocus="this.className='inputField_en';"
          onblur="this.className='inputField_dis';" />
        </td>
      </tr>
      <tr>
        <td class="contentMainTop"><span class="fontBold">[smf_db_name]:</span></td>
        <td class="contentMainFirst" align="center">
          <input type="text" name="db_name" value="[db_name]" class="inputField_dis"
          onfocus="this.className='inputField_en';"
          onblur="this.className='inputField_dis';" />
        </td>
      </tr>
      <tr>
        <td class="contentMainTop"><span class="fontBold">[smf_db_prefix]:</span></td>
        <td class="contentMainFirst" align="center">
          <input type="text" name="db_prefix" value="[db_prefix]" class="inputField_dis"
          onfocus="this.className='inputField_en';"
          onblur="this.className='inputField_dis';" />
        </td>
      </tr>
      <tr>
        <td class="contentMainTop"><span class="fontBold">[smf_board_name]:</span></td>
        <td class="contentMainFirst" align="center">
          <input type="text" name="board_name" value="[board_name]" class="inputField_dis"
          onfocus="this.className='inputField_en';"
          onblur="this.className='inputField_dis';" />
        </td>
      </tr>
      <tr>
        <td class="contentMainTop"><span class="fontBold">[smf_board_url]:</span></td>
        <td class="contentMainFirst" align="center">
          <input type="text" name="board_url" value="[board_url]" class="inputField_dis"
          onfocus="this.className='inputField_en';"
          onblur="this.className='inputField_dis';" />
        </td>
      </tr>
    </table>
  </td>
</tr>