[smf_settings_form]
<tr>
  <td>
    <br />
  </td>
</tr>
<tr>
  <td>
    <form name="admin" action="?admin=smfbridge" method="post" onsubmit="return(DZCP.submitButton())"> 
    <table class="hperc" cellspacing="1">
      <tr>
        <td class="contentHead" colspan="2"><span class="fontBold">[head2]</span></td>
      </tr>
      <tr>
        <td colspan="2" align="center">
          <input type="button"  value="[check_db]" class="submit" onclick="self.location.href='?admin=smfbridge&amp;do=check_db'" />
          <input type="button"  value="[check_users]" class="submit" onclick="self.location.href='?admin=smfbridge&amp;do=check_users'" />
        </td>
      </tr>
    </table>
    </form>
  </td>
</tr>